<% include ./partials/header %>

<% if(!currentUser) { %>
	<a href="/login"><i class="fa fa-sign-in misc-button" aria-hidden="true"></i></a>
<% } %>


<div id="jump-to-top"><i class="fa fa-level-up" aria-hidden="true"></i></div>

<div id="filter-menu">
	<div class="profile-head">
		<div class="title">
			<h4>Filter</h4>
		</div>
	</div>
	<form action="/feed/1" method="GET" class="login-form">
			
		<select name="animal" id="species" required>
		    <option value="0" id="title-option" disabled selected>-Species-</option>
            <option value="dog" class="animal">Doggo</option>
            <option value="cat" class="animal">Kitty</option>
            <option value="bird" class="animal">Bird</option>
            <option value="reptile" class="animal">Reptile</option>
            <option value="smallfurry" class="animal">Small & Furry</option>
            <option value="horse" class="animal">Horse</option>
            <option value="barnyard" class="animal">Barnyard</option>
        </select>
        

		<input type="radio" name="sex" value="M" id="male" class="filter-sex">
		<label for="male">Male</label>
		<input type="radio" name="sex" value="F" id="female" class="filter-sex">
		<label for="female">Female</label>
		
		<div id="age-group">
			<input type="radio" name="age" value="Baby" id="baby" class="filter-age">
			<label for="baby">Baby</label>
			<input type="radio" name="age" value="Young" id="young" class="filter-age">
			<label for="young">Young</label>			
			<input type="radio" name="age" value="Adult" id="adult" class="filter-age">
			<label for="adult">Adult</label>
			<input type="radio" name="age" value="Senior" id="senior" class="filter-age">
			<label for="senior">Senior</label>
		</div>
			
		<input type="submit" value="Filter" class="block">
	</form>
	<div class="login-form">
		<a href="/feed/1"><button>Reset</button></a>
	</div>
</div>


<% if (images.length >= 0) { %>

	<ul class="feed">
		<% images.forEach(function(image) { %>
		<% if(image.friend) { %>
    		<li>
		        <a href="/<%= image.friend.url %>">
		        	<img src="<%= image.largeThumb %>" />
		            <div class="thumbnail-info feed-info">
		    			<span class="float-left"><%= image.friend.name %></span>
		    		</div>
		        </a>
    		</li>
    		<div class="clear"></div> 
    		<% } %>
		<% }) %>
		<% if(images.length < 1) {%>
			<p>Couldn't find any photos :(<p>
		<% } %>		
	</ul>
			
    <div class="clear"></div>

    <% if(numPages > 1) { %>
        <div class="page-selector">
            <% if(page > 1) { %>
                <a href="/feed/<%= (page - 1) + filterQueryString %>" class="prev-page"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            <% } %>
            <%  if(page !== numPages) { %>
                <a href="/feed/<%= page + 1 + filterQueryString %>" class="next-page"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            <% } %>
            <div class="clear"></div>
            <h4><%= page %> / <%= numPages %></h4>
        </div>
    <% } %>	
		
<% } %>	




<script>
function selectFilterForm(animal, sex, age) {
	var filterAnimalForm = document.getElementById("species"),
		filterAnimalQuery = animal,

		filterSexForm = document.getElementsByClassName("filter-sex"),
		filterSexQuery = sex,

		filterAgeForm = document.getElementsByClassName("filter-age"),
		filterAgeQuery = age;

	for(var i=0, len=filterAnimalForm.options.length; i<len; i++) {
		if(filterAnimalForm.options[i].value === filterAnimalQuery) {
			filterAnimalForm.options[i].selected = true;
		}
	}
	for(var i=0, len=filterSexForm.length; i<len; i++) {
		if(filterSexForm[i].value === filterSexQuery) {
			filterSexForm[i].checked = true;
		}
	}
	for(var i=0, len=filterAgeForm.length; i<len; i++) {
		if(filterAgeForm[i].value === filterAgeQuery) {
			filterAgeForm[i].checked = true;
		}
	}

}
selectFilterForm("<%= query.animal %>", "<%= query.sex %>", "<%= query.age %>");



</script>

	
		
<% include ./partials/footer %>		